:root {
    --cor-de-fundo:   #f36b6b;

}
body {
    background-color: var(--cor-de-fundo);
    text-align: center;
}

h1 {
    background-color: #fff9f9
}

.cabecalho-menu {
    background-color: var(--cor-de-fundo);
}

.cabecalho-menu-item {
     display: block;
     padding: 10px;
     font-size: 24px;
     text-decoration: none;
     color: rgb(0, 38, 255);
     text-align: center;
     border-top: 1px solid;
}

.cabecalho-titulo {
    font-size: 37px;
    font-weight: 800;
    padding:12px;
    text-align:center;
}

.lucas{
    width: 250px;


}